// variables

// フォント
$base_font_size: 1.8rem;
$base_title_size: 3.2rem;
$base_sub_title: 2.4rem;

//tabフォント
$tab_font_size: 1.7rem;
// $tab_title_size: 4.0rem;
// $tab_sub_title: 1.8rem;

// コンテンツ幅
$content_width: 1200px;

// セクション毎の高さ
$marT_pc: 120px;
$marT_sp: 80px;

// z-indexの管理
$z_index_nav_drawer: 1002;
$z_index_nav_header: 1000;

// カラーコード
$color_main: #693416;
$color_main02: #a57653;
$color_accent01: #e65707;
$color_accent02: #ed6c00;
$color_accent03: #e58047;
$color_font: #1c0b01;
$color_btn: #a57653;

$color_red_notic: #ff2a2a;
$color_red_notic02: #f24e4e;
$color_white: #faf9f8;
$color_black: #000;

$color_section-bg01: #fcf5ef;

